<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../module/element-ui.css">
  <link rel="stylesheet" href="../module/common_style.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" v-cloak @mouseup="area_end" v-loading="html.loading">
    <!-- 功能按钮等 -->
    <div class="header">
      <el-input class="search flex_shrink" placeholder="会议室名称" v-model="html.search_meeting"
        @keydown.enter="req_room_list(html.search_meeting)">
        <i slot="suffix" class="el-input__icon el-icon-search button" @click="req_room_list(html.search_meeting)"></i>
      </el-input>
      <div class="calendar_box flex_shrink">
        <span class="text">{{html.year}}年{{html.month}}月{{html.day}}({{html.week}})</span>
        <i class="el-icon-date button icon" @click="select_day"></i>
        <el-date-picker id="calendar" v-model="html.date" type="date" @change="display_time(html.date)">
        </el-date-picker>
      </div>
    </div>
    <!-- 提示区 -->
    <div class="table_type">
      <span class="meeting_name">会议室(场所)</span>
      <div class="other">
        <span class="text flex_shrink">时间</span>
        <div class="tips flex_shrink">
          <span class="tip">空闲</span>
          <span class="tip">已预定</span>
          <span class="tip">当前时间分割线</span>
        </div>
      </div>
    </div>
    <!-- 看板 -->
    <div class="table_box" @mouseover="close_meeting_info_box">
      <!-- 时间轴 -->
      <div class="time_line_box">
        <!-- 占位 -->
        <div></div>
        <div v-for="i in 17" class="time_line center">{{6+i-1}}:30</div>
      </div>
      <!-- 会议室列表 -->
      <div class="meeting_boxs" @mousedown="area_start" @mousemove="area_over">
        <div class="current_time"></div>
        <div v-for="item,index in place_list" class="place">
          <div class="place_name">
            <div class="info">
              <div class="box1">
                <span class="name text_ellipsis" :title="item.roomName">{{item.roomName}}</span>
                <el-tag type="danger" size="mini" v-if="item.approve==1">需审批</el-tag>
                <el-tag size="mini" v-if="item.approve==0">无需审批</el-tag>
              </div>
              <span class="type">{{item.type==0?'视频':item.type==1?'综合':'无纸化'}}</span>
              <div>
                <i class="el-icon-user type"></i>
                <span class="type"> {{item.num}}</span>
              </div>
            </div>
            <!-- <div class="center">
              <img v-if="item.photoUrl!=null" :src="item.photoUrl" class="icon2">
              <i v-if="item.photoUrl==null" class="el-icon-picture-outline"></i>
            </div> -->
          </div>
          <div v-for="i,index2 in 34" class="time_box" @mouseover="query_meeting_info($event,index,index2)">
            <div class="pass center" v-if="html.block_list[index][index2] == 2">
              <img src="./img/icon1.png" class="icon flex_shrink">
            </div>
            <div class="over_time" v-if="html.block_list[index][index2] == 1"></div>
            <div v-show="html.block_list[index][index2] == 3"
              :class="['area_box',col_index_start==index2?'color_start':'',col_index_end==index2?'color_end':'']">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 遮罩及新建会议弹窗 -->
    <div class="popover" v-if="html.new_meeting">
      <el-card class="form_box" shadow="never" v-loading="html.form_loading">
        <div class="form_head">
          <span class="text">预约会议</span>
          <div class="icon center button" @click="close_new">
            <i class="el-icon-close icon2"></i>
          </div>
        </div>
        <el-form :model="new_meeting_form" label-width="100px">
          <el-form-item label="会议名称">
            <el-input v-model="new_meeting_form.name"></el-input>
          </el-form-item>

          <el-form-item label="预约时间">
            <div style="display: flex;">
              <el-date-picker v-model="new_meeting_form.date" type="date" class="margin" @change="change_reserve_type">
              </el-date-picker>
              <el-time-select v-model="new_meeting_form.time_start" @change="change_reserve_type" class="margin"
                :picker-options="{start: '06:00',step: '00:30',end: '23:00'}" placeholder="选择起始时间">
              </el-time-select>
              <span class="margin">&#10140</span>
              <el-time-select v-model="new_meeting_form.time_end" @change="change_reserve_type" class="margin"
                :picker-options="{start: '06:00',step: '00:30',end: '23:00'}" placeholder="选择结束时间">
              </el-time-select>
            </div>
          </el-form-item>

          <el-form-item label="预约方式">
            <el-select v-model="new_meeting_form.method">
              <el-option v-for="item,index in html.reserve_type" :label="item" :value="index">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-show="new_meeting_form.method==5" label="自定义星期">
            <el-select v-model="new_meeting_form.cus_week" multiple>
              <el-option v-for="item,index in html.week_options" :label="item" :value="index+1">
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="预约截止日期">
            <el-date-picker v-model="new_meeting_form.cycle_deadline" :picker-options="cycle_options()" type="date"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>

          <el-form-item label="参会人员">
            <el-select v-model="new_meeting_form.search_person" filterable multiple placeholder="搜索"
              style="width: 100%;">
              <el-option v-for="item in conferee_list" :label="item.username" :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="是否回复">
            <el-select v-model="new_meeting_form.reply">
              <el-option v-for="item,index in html.bool_options" :label="item" :value="index">
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="是否通知">
            <div style="display: flex;align-items: center;">
              <el-select v-model="new_meeting_form.sendMessage" style="margin-right: 20px;" @change="change_info">
                <el-option v-for="item,index in html.bool_options" :label="item" :value="index">
                </el-option>
              </el-select>
              <el-button @click="add_alert_time" v-show="new_meeting_form.sendMessage==1" type="text" size="small">添加提醒
              </el-button>
            </div>
          </el-form-item>
          <el-form-item label="&#128276;" v-show="new_meeting_form.meetingReminds.length>0">
            <div class="alert_box">
              <div v-for="item in new_meeting_form.meetingReminds" class="box1">
                <span class="text1 center">开始前{{item.time}}提醒</span>
                <el-select v-model="item.type" class="box2">
                  <el-option v-for="item2,index in html.info_type" :label="item2" :value="index">
                  </el-option>
                </el-select>
                <i class="el-icon-close icon button" @click="del_alert_time"></i>
              </div>
            </div>
          </el-form-item>

          <el-form-item label="是否签到">
            <el-select v-model="new_meeting_form.signIn">
              <el-option v-for="item,index in html.bool_options" :label="item" :value="index">
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="会议纪要">
            <el-select v-model="new_meeting_form.summary">
              <el-option v-for="item,index in html.bool_options" :label="item" :value="index">
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="附件">
            <el-upload :action="file.url" :headers="upload_header()" :file-list="file.list" :before-remove="file_del"
              :on-success="upload_result" style="width: 50%;">
              <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
            </el-upload>
          </el-form-item>

          <el-form-item class="button_layout">
            <el-button type="primary" @click="new_submit(new_meeting_form)">确定</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
    <!-- 会议信息 -->
    <el-card class="meeting_info_box" v-show="html.meeting_info_show" shadow="always">
      <div class="single_info" v-for="item,index in html.meeting_infos">
        <span class="title">{{item}}</span>
        <span class="text text_ellipsis" :title="meeting_info.name" v-if="index==0">{{meeting_info.name}}</span>
        <span class="text" v-if="index==1">{{meeting_info.start_time}}</span>
        <span class="text" v-if="index==2">{{meeting_info.end_time}}</span>
        <span class="text" v-if="index==3">{{meeting_info.type}}</span>
      </div>
    </el-card>
  </div>

  <script src="../../运维人员部署请修改我.js"></script>
  <script src="../module/vue.js"></script>
  <script src="../module/element-ui.js"></script>
  <script src="../module/axios.min.js"></script>
  <script src="../module/common_function.js"></script>
  <script src="./index.js"></script>
</body>

</html>