<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../module/element-ui.css">
  <link rel="stylesheet" href="../module/common_style.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" v-cloak :style="resize()" v-loading="html.page_loading">
    <template v-for="item in component_list">
      <custom-slider v-if="item.type=='slider'" :obj="item" :total_h="html.total_h" :total_w="html.total_w"
        :radio="radio">
      </custom-slider>
      <custom-text v-if="item.type=='text'" :obj="item" :total_h="html.total_h" :total_w="html.total_w" :radio="radio">
      </custom-text>
      <custom-img v-if="item.type=='img'" :obj="item" :total_h="html.total_h" :total_w="html.total_w" :radio="radio">
      </custom-img>
      <custom-button v-if="item.type=='button'" :obj="item" :total_h="html.total_h" :total_w="html.total_w"
        :radio="radio">
      </custom-button>
      <custom-switch v-if="item.type=='switch'" :obj="item" :total_h="html.total_h" :total_w="html.total_w"
        :radio="radio">
      </custom-switch>
      <custom-progress v-if="item.type=='progress'" :obj="item" :total_h="html.total_h" :total_w="html.total_w"
        :radio="radio">
      </custom-progress>
    </template>
  </div>

  <script src="../../运维人员部署请修改我.js"></script>
  <script src="../../js/stomp.min.js"></script>
  <script src="../module/vue.js"></script>
  <script src="../module/element-ui.js"></script>
  <script src="../module/axios.min.js"></script>
  <script src="../module/common_function.js"></script>
  <script src="./components.js"></script>
  <script src="./index.js"></script>
</body>

</html>