<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../module/element-ui.css">
  <link rel="stylesheet" href="../module/common_style.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" v-cloak>
    <!-- 日期及选项切换 -->
    <div class="header">
      <el-select v-model="place_id" style="margin: 0 20px;" size="small" @change="time_display(html.time_option)">
        <el-option v-for="item,index in place_list" :label="item.roomName" :value="item.id"></el-option>
      </el-select>
      <div class="box1">
        <div v-show="html.time_option<3" class="icon1 center button" @click="pre_date(html.time_option)">
          <i class="el-icon-arrow-left icon2"></i>
        </div>
        <!-- 选择日 -->
        <el-date-picker v-show="html.time_option==0" class="calendar" style="width: 110px;" v-model="html.date"
          @change="time_display(0)" type="date"></el-date-picker>
        <!-- 选择周 -->
        <el-date-picker v-show="html.time_option==1" v-model="html.week_date" class="calendar" style="width: 210px;"
          :format="week_format()" type="week" @change="time_display(1)"></el-date-picker>
        <!-- 选择月 -->
        <el-date-picker v-show="html.time_option==2" v-model="html.month_date" class="calendar" style="width: 100px;"
          format="yyyy-MM" type="month" @change="time_display(2)"></el-date-picker>
        <div v-show="html.time_option<3" class="icon1 center button" @click="next_date(html.time_option)">
          <i class="el-icon-arrow-right icon2"></i>
        </div>
      </div>
      <div v-for="item,index in router=='MyBooking'?html.time_display:html.time_display2" @click="time_display(index)"
        :class="['box2','center','button',html.time_option==index?'box_light':'box_dark']">{{item}}</div>
    </div>
    <!-- 不同时间选项 不同页面 -->
    <!-- 天 -->
    <div v-show="html.time_option==1" class="body1">
      <div v-for="i in 17" class="box1 day">
        <span class="title center">{{i+5}}:30</span>
        <div class="box2">
          <div class="line"></div>
        </div>
      </div>
      <!-- 会议遮罩 -->
      <div class="day_block meeting_block" v-for="item in day_meeting" :style="block_position(item)">
        <div class="time">
          <span class="text">{{item.startTime}}</span>
          <span class="text">-</span>
          <span class="text">{{item.endTime}}</span>
        </div>
        <div class="center text_ellipsis">{{item.theme}}</div>
      </div>
    </div>
    <!-- 周 -->
    <div v-show="html.time_option==2" class="body2">
      <div class="week_box">
        <div></div>
        <span class="text">周日</span>
        <span class="text">周一</span>
        <span class="text">周二</span>
        <span class="text">周三</span>
        <span class="text">周四</span>
        <span class="text">周五</span>
        <span class="text">周六</span>
      </div>
      <div class="box1">
        <div class="time_box">
          <div v-for="i in 17" class="time center week">{{i+5}}:30</div>
        </div>
        <div v-for="i in 7" class="box2">
          <div v-for="j in 17" class="box3">
            <div class="line"></div>
          </div>
          <!-- 会议遮罩 -->
          <div class="week_block meeting_block" v-for="item in week_meeting[i-1]" :style="block_position(item)">
            <div class="time">
              <span class="text">{{item.startTime}}</span>
              <span class="text">-</span>
              <span class="text">{{item.endTime}}</span>
            </div>
            <div class="center text_ellipsis">{{item.theme}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 月 -->
    <div v-show="html.time_option==3" class="body3">
      <div class="week_box">
        <span class="text center">周日</span>
        <span class="text center">周一</span>
        <span class="text center">周二</span>
        <span class="text center">周三</span>
        <span class="text center">周四</span>
        <span class="text center">周五</span>
        <span class="text center">周六</span>
      </div>
      <div class="box1">
        <div v-for="item,index in html.month_block" class="box2">
          <span :class="['text',index < html.day_start?'text3': index >= html.day_end?'text3':'']">{{item.day}}</span>
          <div class="box3">
            <!-- 会议列表 -->
            <div class="block" v-for="item2 in month_meeting[index]">
              <span class="time">{{item2.startTime}}</span>
              <span class="text2 text_ellipsis">{{item2.theme}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 列表 -->
    <div v-show="html.time_option==0" class="body4">
      <div class="box1">
        <el-radio-group v-model="html.list_select">
          <el-radio v-for="item,index in html.list_options" :label="index">{{item}}</el-radio>
        </el-radio-group>
      </div>
      <div class="box2">
        <div class="box3" v-for="item,index in list_meeting[html.list_select]">
          <div class="img2 center flex_shrink">
            <i class="el-icon-picture-outline icon"></i>
          </div>
          <div class="text_box">
            <span class="text1 text_ellipsis">{{item.theme}}</span>
            <span class="text2">时间： {{item.html_time}}</span>
            <span class="text2">会议室(地点)：{{item.roomName}}</span>
          </div>
          <div class="button_box flex_shrink">
            <span class="text3 button flex_shrink" v-if="html.list_select==1"
              @click="cancel_review(item.id)">撤销申请</span>
            <span class="text3 button flex_shrink" v-if="html.list_select!=0">编辑</span>
            <span class="text3 button flex_shrink" v-if="html.list_select==0" @click="meeting_check(item)">查看</span>
          </div>
        </div>
        <el-empty v-show="list_meeting.length==0||list_meeting[html.list_select].length==0" description="无数据"
          style="width: 100%;height: 100%;">
        </el-empty>
      </div>
    </div>
    <!-- 弹窗 -->
    <div class="popover" v-if="html.meeting_detail_display">
      <el-card class="form_box" shadow="never">
        <div class="form_head">
          <span class="text">会议详情</span>
          <div class="icon center button" @click="html.meeting_detail_display=false">
            <i class="el-icon-close icon2"></i>
          </div>
        </div>
        <div class="box1" :style="{maxHeight:html.detail_h+'px'}">
          <div class="left">
            <div class="left1">
              <div class="box2 row_layout" v-for="item in meeting_detail">
                <!-- 通用样式 -->
                <span class="title flex_shrink" v-if="!item.special || item.special==1">{{item.title}}</span>
                <span class="text text_ellipsis" v-if="!item.special || item.special==1">{{item.value}}</span>
                <!-- 会议纪要 -->
                <el-button type="text" v-if="item.special==1" @click="download_summary"
                  style="margin-left: 20px;padding: 0;">
                  下载</el-button>
                <!-- 参会人 -->
                <div v-if="item.special==3" style="flex-grow: 1;">
                  <div class="row_layout" style="padding-bottom: 10px;">
                    <div class="title">{{item.title}}</div>
                    <el-radio-group v-model="html.user_type" size="mini" style="margin-left: auto;">
                      <el-radio-button :label="0">所有</el-radio-button>
                      <el-radio-button :label="1">已签到</el-radio-button>
                      <el-radio-button :label="2">未签到</el-radio-button>
                    </el-radio-group>
                  </div>
                  <div class="text">
                    <span class="user_name" v-for="item2 in item.value[html.user_type]">{{item2.username}}</span>
                  </div>
                </div>
                <!-- 附件 -->
                <div v-if="item.special==2" style="overflow: hidden;">
                  <div class="title" style="padding-bottom: 10px;">{{item.title}}</div>
                  <div class="text" v-if="!item.value.length">无</div>
                  <div class="text text_ellipsis" v-for="item2 in item.value">文件名:{{item2.fileName}}
                    路径:{{item2.fileUrl}}
                  </div>
                </div>
              </div>
            </div>
            <el-button @click="show_summary" type="primary" size="small" class="left_button">会议纪要
            </el-button>
          </div>
          <div class="right">
            <span class="title">二维码</span>
            <img :src="meeting_qr" class="icon">
            <div class="right2">
              <div class="title"><i class="el-icon-s-data icon1"></i>参会详情</div>
              <!-- 统计参加不参加 -->
              <div class="echart1"></div>
              <!-- 统计签到人数图表 -->
              <div class="echart1"></div>
            </div>
          </div>
        </div>
      </el-card>
    </div>
    <!-- 会议纪要 富文本编辑器 -->
    <div class="popover" v-if="html.summary_display">
      <el-card class="form_box2" shadow="never">
        <div class="form_head flex_shrink">
          <span class="text">会议纪要</span>
          <div class="icon center button" @click="html.summary_display=false">
            <i class="el-icon-close icon2"></i>
          </div>
        </div>
        <div class="box1"></div>
        <div class="row_layout box2 flex_shrink">
          <el-button @click="save_summary(0)" type="primary" round>保存</el-button>
          <el-button @click="save_summary(1)" round>提交</el-button>
        </div>
      </el-card>
    </div>
  </div>

  <script src="../../运维人员部署请修改我.js"></script>
  <script src="../module/vue.js"></script>
  <script src="../module/element-ui.js"></script>
  <script src="../module/axios.min.js"></script>
  <script src="../module/echarts.min.js"></script>
  <script src="../module/common_function.js"></script>
  <script src="./index.js"></script>
</body>

</html>